<html>
    <header>
        <title> MisFotos</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    </header>
    <body>
        <div class="ui fixed inverted menu"> 
            <div class="ui container"> 
                <div class="header item"> <i class="Photo icon "> </i> Fotos </div>
                 <a href="/" class="item"> Home </a>
            <a href="/blogs/new" class="item"> New photo </a>
            </div>
        </div>